<html lang="en">

<head>
  <title>Resolute | Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark nav">
    <div class="container">
      <h1>Resolute</h1>
    </div>
  </nav>

  <div class="container content">
    <form class="needs-validation col-lg-6 col-md-8 col-sm-10" [formGroup]="loginForm" (ngSubmit)="LoginToAccount()" novalidate name="login-form">
      <h1>Login</h1>
      <div class="form-group">
        <div class="username">
          <input type="text" name="username" formControlName="Username" class="form-control" id="validationCustom03" placeholder="Username" required />

          <div *ngIf="Username.touched && !Username.valid" id="username-error">
            Please provide a valid Username.
          </div>
        </div>

        <div class="password">
          <input type="text" name="password" formControlName="Password" ng-required="true"  class="form-control" id="validationCustom04" placeholder="Password" required>
          <div *ngIf="!Password.valid && Password.touched" id="password-error" >
            Password must be 6 to 10 characters long.
          </div>
        </div>
        <div class="btn ">
          <button id="buttonId" type="submit">SUBMIT</button>
        </div>
        </div>
    </form>
    </div>
</body>

</html>
