#dashboard{
  background-color: #EBEDEF;
  margin: 0px;
  padding: 20px;
}

mat-grid-tile {
  background-color: white;
}

app-gamification {
  width: 100%;
  height: 100%;
}

app-c-sat-score {
  height: 100%;
  width: 100%;
}
