#tickets {
  background-color: #263238;
  /* border: 1px solid #ffffff; */
}

#displayLinks {
  color:white;

}

table {
  width: 100%;
  background-color: white;
}

td, th {
  color : #263238;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

form, .mat-select {
  color: black;
}
