#tickets {
  background-color: blue;}

 mat-tab-nav-bar{
  background-color: blue;
}

::ng-deep mat-tab-label{
  color: #ffffff;
}

#displayLinks {
  color:black;
}

.mat-menu-panel {
  background-color: blue;}

table {
  width: 100%;
  background-color: white;
}

::ng-deep .mat-tab-group .mat-tab-body-content {
  height: auto;
  overflow: auto;
}

th {
  color : #0077B5;
}

a:hover{
  color: #ffffff;
}

/* tr:hover {
  background-color: #0077B5;
  color: white;
}

td:hover, td a:hover {
  color: #ffffff;
}

td.mat-cell:hover,  {
  color: #ffffff;
} */

th.mat-sort-header-sorted {
background-color: #0077B5;
}

nav {
  float: left;
  width: 700px;
  background-color: #0077B5;
}

form {
  padding: 10px 20px;
  color: black;

}

label, mat-select {
  color: black;
  margin: 20px 0px;
  background-color: white;
}

#submit {
  margin: 0px 0px 20px 0px;
}

#pagination_nav {
  float: right;
}

#filterButton {
  margin: 6px 40px;
  float: right;
  background-color: #0077B5;
  color: #ffffff;
}

.pagenav {
  padding: 6px;
}

.active {
  color: red;
}

a {
  cursor: pointer;
  font-size: 15px;
}

#pagination_nav, #filterButton {
  margin: 20px;
}
