.nav{
  color: #ffffff;
  background-color: transparent;
  padding-top: 20px;
  text-align: right;
}

.nav .container h1{
  opacity: 0;
}
.fullBody{
  height: 100vh;
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  color: #ffffff;
}

.left-column, .right-column{
  padding: 0px 40px 0px 40px;
}

.left-column{
  margin-top: 0px;
  display: block;
  float: left;
  margin-bottom: 50px;

}

.right-column{
  display: block;
  overflow: auto;
  text-align: center;
}

.right-column h1{
margin-bottom: 50px;
}
.font{
  color: #ffffff;
  font-size: 5ex;
  width: 100%;
  text-align: center;
}

.font-div{
  float: left;
  text-align: center;
  padding:20px;
}


.join-btn{
  width: 50%;
  border-radius: .25rem;
  outline: none;
  background-color: transparent;
  color: #f5f5f6;
  padding: 15px 20px 10px 20px;
  border: 2px solid #ffffff;
}

.join-btn:hover{
  border:0px;
  background-color: #f5f5f6;
  color:#184e68;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;
}

.btn{
  border-radius: .25rem;
  outline: none;
  background-color: transparent;
  color: #f5f5f6;
  padding: 15px 20px 10px 20px;
  border: 2px solid #ffffff;
}

.btn:hover{
  border:0px;
  background-color: #f5f5f6;
  color:#184e68;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;
}

