<div class="fullBody">
<nav class="navbar navbar-dark nav">
        <div class="container">
            <h1>Resolute</h1>
            <button class="btn" routerLink="/userlogin/login"><h6>+ Sign In</h6> </button>
        </div>
    </nav>

    <div class="container content">
        <div class="left-column col-sm-12 col-md-6 col-lg-6">
            <h1>RESOLUTE</h1>
            <p>An Intelligent Helpdesk Management System designed to
               resolve product queries and enhance customer satisfaction.
            </p>
            <button mat-raised-button class="join-btn" routerLink="/userlogin/signup"><h6>Join the Club</h6></button>
        </div>
        <div class="right-column">
            <h1>Why Resolute?</h1>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font fas fa-chart-line"></i>
                <p>Data Driven </p>
            </div>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font fas fa-user-shield"></i>
                <p>Reliable Long term Solution</p>
            </div>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font far fa-lightbulb"></i>
                <p>Intelligent System</p>
            </div>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font far fa-smile-beam"></i>
                <p>Improved Customer Satisfaction</p>
            </div>
        </div>
    </div>
  </div>
