<section id="displaySection">
  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
    <mat-grid-tile (click)="onClick('open')" class="agentTickets">
      <mat-card-content>
        <h1>Open Tickets</h1>
        <p> {{numberOfTickets.open}}</p>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile (click)="onClick('closed')"  class="agentTickets">
      <mat-card-content>
        <h1>Closed Tickets</h1>
        <p>{{numberOfTickets.closed}}</p>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile (click)="onClick('due')" class="departmentTickets">
      <mat-card-content>
        <h1>Unassigned Tickets</h1>
        <p>{{numberOfTickets.due}}</p>
      </mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile (click)="onClick('')" class="departmentTickets">
      <mat-card-content>
        <h1>Total Tickets</h1>
        <p>{{numberOfTickets.total}} </p>
      </mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</section>
