#displaySection {
  width: 65%;
  margin: 0 auto;
  padding: 30px;
  background-color: #f5f5f6;
}

mat-grid-list {
padding: 0px;
margin: 0px;
}

mat-grid-tile {
  border-style: solid;
  background-color: #263238;
  color: #f5f5f6;
}

mat-grid-tile:hover{
  cursor: pointer;
  background-color: #000a12;
}

mat-card-content{
  text-align: center;}
