
mat-grid-list {
padding: 0px;
margin: 30px;
}

mat-grid-tile {
  border-style: solid;
  color: #f5f5f6;
}

mat-grid-tile{
  background:linear-gradient(135deg, #378b76 0%,#4eba81 100%);
}

mat-grid-tile:hover{
  cursor: pointer;
  background: #004d40;
  letter-spacing: 5px;
}


mat-card-content{
  text-align: center;}

.agentTicketsOpen {
  border: none;
}

.agentTicketsClosed{
  border: none;
}

.departmentTicketsUnassigned {
  border: none;
  }


.departmentTicketsTotal{
  border: none;
}

