<div class="fullContent">
  <div class="left-side-content">
    <!-- Chat Module will come here -->
    <iframe [src]="chatHubUrl | safe" height="800" width="1000"></iframe>
  </div>


  <div class="right-side-content">
        <mat-card-header>
          <div id="square">
            <div id="UserImage"></div>
            <img id="UserImage" src="{{userImage?.profileImageUrl}}" alt="UserImage">
          </div>
        </mat-card-header>
        <mat-card-title> {{TicketById?.name}} </mat-card-title>
        <mat-card-subtitle> Ticket ID : {{TicketById?.id}} </mat-card-subtitle>
        <mat-card-content>
          <p class="CardTitle">
            <b>Issue: </b> {{TicketById?.subject}} </p>
          <p class="CardTitle">
            <b>Description: </b>
          </p>
          <p id="description">
            {{TicketById?.description}}
          </p>
        </mat-card-content>
        <form id="statusAndPriority" style="color: white">
          <mat-form-field>
            <mat-select placeholder="{{TicketById?.status == 0 ? 'Open' : (TicketById?.status == 1 ? 'Closed' : 'Due')}}" [(ngModel)]="selectedStatusValue"
              name="status">
              <mat-option (click)="updateStatus()" *ngFor="let status of statuses" [value]="status.value">
                {{status?.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <form>
          <mat-form-field>
            <mat-select placeholder="{{TicketById?.priority | titlecase }}" [(ngModel)]="selectedPriorityValue" name="priority">
              <mat-option (click)=updatePriority() *ngFor="let priority of priorities" [value]="priority.value">
                {{priority?.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <mat-form-field>
          <textarea matInput [(ngModel)]="commentValue" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5" placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <div class="btn-class">
          <button (click)="openDialog()" id="resolve-btn">RESOLVE</button>
          <button (click)="back()" id="back-btn">BACK</button>
        </div>
    </div>

  </div>
