.fullContent{
  width: 100%;
}

.mat-form-field-label {
  color: white !important;
}

.left-side-content{
  width: 70%;
  float: left;
}

.left-side-content iframe{
  width: 100%;
  height: 100%;
}

.right-side-content{
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  color: aliceblue;
  text-align: center;
  width: 30%;
  height: 100%;
  float: left;
}

::ng-deep .mat-select-content{
  color: aliceblue;
}

#statusAndPriority {
  color: aliceblue;
}

.btn-class{
  width: 100%;
}

#suggest-btn, #back-btn{
  background-color: transparent;
  cursor: pointer;
  font-size: small;
  color: #ffffff;
  border: 2px solid #ffffff;
  outline: none;
  margin: 5px;
  text-align: left;}

#suggest-btn:hover, #back-btn:hover{
  background-color: #f5f5f6;
  color:#004d40 ;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;}

#suggest-btn{
  padding: 15px;
}

#back-btn{
  padding: 15px;
}
