<section id="ticketDetails">
  <section id="chatSection">

  </section>
  <section id="detailSection">
    <section id="header">
      <h1>Ticket Details</h1>
    </section>
    <section id="body">
      <h4> Ticket ID : {{TicketById.ticketId}} </h4>
      <h4> Created On : {{TicketById.createdOn}} </h4>
      <h4> Created By : {{TicketById.createdBy}} </h4>
      <h4> User Id : {{TicketById.userid}} </h4>
      <h4> Subject : {{TicketById.subject}} </h4>
      <h4> Description : {{TicketById.description}} </h4>
      <h4> Source : {{TicketById.source}} </h4>
      <h4> Priority : {{TicketById.priority}} </h4>
      <h4> Status : {{TicketById.status}} </h4>
    </section>
  </section>
</section>
