<section id="gamification">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="Most Tickets">
      <th mat-header-cell *matHeaderCellDef> <strong>TOP AGENTS</strong> </th>
      <td mat-cell *matCellDef="let element">
        <img src="{{element?.profileImageUrl}}">
        <span>
          <h5 style="color: #0077B5; letter-spacing: 1px;"><strong>{{element?.name}}</strong></h5>
          <h6>Resolved Tickets : <strong>{{element?.numberOfTicketsResolved}}</strong></h6>
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>
