.content{
  text-align: center;
  height: 100vh;
  color: #ffffff;
  background:linear-gradient(135deg, #0470dc 0%,#0bb1ec 100%);
  padding-top: 30px;
 }

 #iconDiv{
  margin: 0 auto;
  text-align: center;
 }

 .font{
  padding-top: 40px;
  font-size: 8ex;
  font-weight: lighter;
 }

 #chooseFileDiv{
  margin: 0 auto;
  text-align: center;
  padding: 30px;
 }

 input[type="file"]{
  width: 20%;
 }

 .secondaryBtnDiv{
  width: 20%;
  margin: 0 auto;
  padding: 2.5px;
 }

 #uploadbtn{
  width: 100%;
  border-radius: .25rem;
  outline: none;
  background-color: transparent;
  color: #f5f5f6;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ffffff;
 }

 #uploadbtn:hover{
  border:0px;
  background-color: #f5f5f6;
  color:#0470dc ;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;

 }
