body{
  height: 100vh;
}

.example-container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav {
  align-items: center;
  justify-content: center;
  width: 20%;
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  float: left;
}

.agentDetails{
  background-color: transparent;
  padding: 10px;
  display: flex;
}

.agentImage{
  background-color: transparent;
  width: 30%;
  padding: 5px;
}

.agentImage img{
  background-size: cover;
  width: 100%;
  border-radius: 50%;
}

.agentName{
  background-color: transparent;
  width: 70%;
  padding: 10px 0px 0px 5px;
  color: #ffffff;
}

.link-btn{
  background-color: transparent;
  font-size: medium;
  width: 100%;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 15px;
  margin: 0px;
  text-align: left;
}

.link-btn:active{
  background-color: #c53364;
}

.link-btn:hover{
  border:0px;
  background-color: #f5f5f6;
  color: #184e68;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;
}

.logout-btn{
  background-color: transparent;
  font-size: medium;
  width: 90%;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  padding: 0px;
  margin: 10px;
  text-align: center;
}

.logout-btn:hover{
  border:0px;
  background-color: #ffffff;
  color: #184e68;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;
}

.rightSideContent{
  width: 80%;
}


