<mat-sidenav-container class="my-example-container">
  <mat-sidenav #sidenav mode="side" opened class="my-example-sidenav" [fixedInViewport]>
    <section id="agentDetails">
      <div id="photo-background">
        <div id="square-box">
          <img src="{{agentDetails?.profileImageUrl}}" id="UserImage-box">
          <!-- <img src="/src/assets/images/profile-pic.jpg" id="UserImage-box"> -->
        </div>
      </div>
      <br>
      <p style="text-align: center"> {{agentDetails?.name}} </p>
      <mat-divider></mat-divider>
      <br>
      <div id="navigation">
          <button class="link-btn" routerLink="/console/home" routerLinkActive="active">
            <i class="fas fa-home"></i> <strong> &nbsp; HOME </strong></button>

          <button class="link-btn" routerLink="/console/dashboard" routerLinkActive="active">
            <i class="far fa-chart-bar"></i> <strong> &nbsp; DASHBOARD </strong> </button>

          <button class="link-btn" [routerLink]="['/console/tickets', 'all']" routerLinkActive="active">
            <i class="far fa-address-card"></i> <strong> &nbsp; TICKETS </strong> </button>
          <h3>
            <button class="logout-btn link-btn" (click)="logOut()">
                <i class="fas fa-power-off"></i> <strong> &nbsp; LOG OUT </strong>
            </button>
          </h3>
        </div>
    </section>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar id="header">
        <mat-toolbar-row>
          <span id="mainTitle">
            <!-- <a routerLink="/console/home" routerLinkActive="active"><strong>{{agentDetails?.organisationName | uppercase }}</strong></a> -->
            <a routerLink="/console/home" routerLinkActive="active"><strong>BOEING</strong></a>
          </span>
          <span class="spacer"></span>
          <button class="notification-btn" (click)="showNotifications()">
              <i class="fas fa-bell"></i><sup> {{notificationCount}} </sup>
          </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

