<html lang="en">

<head>
  <title>Resolute | Navbar</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
</head>

<body>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
  [fixedInViewport]>

  <div class="agentDetails">
    <div class="agentImage">
      <img src="../../../src/profile-pic.jpg">
    </div>
    <div class="agentName"><b>{{agentDetails.Name}}  </b><br>{{agentDetails.DepartmentName}}<br>{{agentDetails.OrganizationName}}</div>
  </div>

  <!-- <p> Name : {{agentDetails.Name}} </p>
  <p> Department : {{agentDetails.DepartmentName}} </p>
  <p> Organization : {{agentDetails.OrganizationName}} </p> -->


  <div id="navigation">
      <button class="link-btn" routerLink="/console/home" routerLinkActive="active">
        <i class="fas fa-home"></i> Home </button>

      <button class="link-btn" routerLink="/console/dashboard" routerLinkActive="active">
        <i class="far fa-chart-bar"></i> Dashboard </button>

      <button class="link-btn" routerLink="/console/tickets/all" routerLinkActive="active">
        <i class="far fa-address-card"></i> Tickets </button>
    <h3>
      <button mat-raised-button class="logout-btn" (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon> Log Out </button>
    </h3>
  </div>

</mat-sidenav>

  <mat-sidenav-content class="rightSideContent">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- <mat-drawer-container class="example-container" autosize >
  <mat-drawer #drawer class="example-sidenav" [mode]="side">
    <section id="agentDetails">
      <div id="photo-background">
      <div id="square-box">
        <div id="UserImage-box"></div>
      </div>
    </div>
    <br>
      <mat-divider></mat-divider>
      <p> Name : {{agentDetails.Name}} </p>
      <p> Department : {{agentDetails.DepartmentName}} </p>
      <p> Organization : {{agentDetails.OrganizationName}} </p>
    </section>
    <section id="navigation">
        <button class="link-btn" routerLink="/console/home" routerLinkActive="active">
          <i class="fas fa-home"></i> Home </button>

        <button class="link-btn" routerLink="/console/dashboard" routerLinkActive="active">
          <i class="far fa-chart-bar"></i> Dashboard </button>

        <button class="link-btn" routerLink="/console/tickets/all" routerLinkActive="active">
          <i class="far fa-address-card"></i> Tickets </button>
      <mat-divider></mat-divider>
      <h3>
        <button mat-raised-button class="logout-btn" (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon> Log Out </button>
      </h3>
    </section>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->
</body>

</html>
