<div>
  <dx-chart id="chart-demo" palette="violet" [dataSource]="csatData">
    <dxi-series *ngFor="let data of csatMetaData" [valueField]="data?.value" [name]="data?.name">
    </dxi-series>
    <dxo-common-series-settings #seriesSettings argumentField="date" [type]="types[0]">
    </dxo-common-series-settings>
    <dxo-margin ></dxo-margin>
    <dxo-title text="CSAT Score"></dxo-title>
    <dxo-argument-axis [valueMarginsEnabled]="false" discreteAxisDivisionMode="crossLabels">
      <dxo-grid [visible]="true"></dxo-grid>
    </dxo-argument-axis>
    <!-- <dxo-legend verticalAlignment="bottom" horizontalAlignment="center" itemTextPosition="bottom">
    </dxo-legend> -->

    <dxo-tooltip [enabled]="false" [customizeTooltip]="customizeTooltip">
    </dxo-tooltip>
  </dx-chart>
</div>
