body{
  background-color: #f5f5f6;
}

.nav{
  color: #ffffff;
  background-color: #000a12;
}

.content{
  margin-top: 40px;
}

.left-column, .right-column{
  padding: 40px 40px 0px 40px;
}

.left-column{
  margin-top: 150px;
  display: block;
  float: left;

}

.right-column{
  display: block;
  overflow: auto;
  text-align: center;
}

.right-column h1{
margin-bottom: 50px;
}
.font{
  color: #263238;
  font-size: 7ex;
  width: 100%;
  text-align: center;
}

.font-div{
  float: left;
  text-align: center;
  padding:20px;
}

.btn{
  margin: 0px 0px 0px 0px;
  padding: 10px 30px 5px 30px;
  border-radius: .25rem;
  background-color: #000a12;
  color: #f5f5f6;
  border:1px solid #f5f5f6;
}

.join-btn{
  margin: 0px 0px 0px 0px;
  padding: 10px 30px 5px 30px;
  border-radius: .25rem;
  background-color: #263238;
  color: #f5f5f6;
  border: none;
}

.join-btn:hover{
  cursor: pointer;
}

.btn:hover{
  background-color: #263238;
}

