<!DOCTYPE html>
<html lang="en">
<head>
	<title>Resolute | Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-dark nav">
        <div class="container">
            <h1>Resolute</h1>
            <button class="btn" routerLink="/signin"><h6>+ Sign In</h6> </button>
        </div>
    </nav>

    <div class="container content">
        <div class="left-column col-sm-12 col-md-6 col-lg-6">
            <h1>RESOLUTE</h1>
            <p>An Intelligent Helpdesk Management System designed to
               resolve product queries and enhance customer satisfaction.
            </p>
            <button class="join-btn" routerLink="/signup"><h6>Join the Club</h6></button>
        </div>
        <div class="right-column">
            <h1>Why Resolute?</h1>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font fas fa-chart-line"></i>
                <p>Data Driven </p>
            </div>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font fas fa-user-shield"></i>
                <p>Reliable Long term Solution</p>
            </div>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font far fa-lightbulb"></i>
                <p>Intelligent System</p>
            </div>
            <div class="font-div col-lg-6 col-md-6 col-sm-6">
                <i class=" font far fa-smile-beam"></i>
                <p>Improved Customer Satisfaction</p>
            </div>
        </div>
    </div>
</body>
</html>
