<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resolute | Sign Up</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark nav">

  </nav>

  <div class="container content">
    <form class="needs-validation col-lg-6 col-md-8 col-sm-10" [formGroup]="signUpForm" (ngSubmit)="GenerateAccount()"  novalidate name="signup-form">
      <div class="logo"><i class="fab fa-ravelry"></i></div>
      <h1>Create a New Account</h1>
      <div class="form-group">

        <div class="teamname-input">
          <input type="text" name="organisationDisplayName" formControlName="organisationDisplayName" class="form-control"  id="validationCustom01" placeholder="Company Name" required />
          <!-- <div *ngIf="!organizationDisplayName.valid && organizationDisplayName.touched " id="username-error">
            Please enter your desired Username.
          </div> -->
        </div>

        <div class="username-input">
          <input type="text" name="organisationName" formControlName="organisationName" class="form-control"  id="validationCustom02" placeholder="Unique Team Name" required />
          <!-- <div *ngIf="!organizationName.valid && organizationName.touched " id="username-error">
            Please enter your desired Username.
          </div> -->
        </div>

        <div class="logourl-input">
          <input type="text" name="logoUrl" formControlName="logoUrl" class="form-control"  id="validationCustom03" placeholder="Logo Url" required />
          <!-- <div *ngIf="!organizationName.valid && organizationName.touched " id="username-error">
            Please enter your desired Username.
          </div> -->
        </div>

        <div class="email-id-input">
          <input type="text" name="email" class="form-control" formControlName="email" id="validationCustom04" placeholder="Enter your E-mail ID" required>
          <!-- <div *ngIf="!email.valid && email.touched" id="email-error" >
            Please provide a valid Email-ID.
          </div> -->
        </div>

        <div class="password-input">
          <input type="text" name="password" formControlName="Password" class="form-control"  id="validationCustom05" placeholder="New Password" required>
          <!-- <div *ngIf="!Password.valid && Password.touched" id="password-error" >
            Your password must be 6 to 10 characters long.
          </div> -->
        </div>

        <div class="confirm-password-input">
          <input type="text" class="form-control" id="validationCustom06" placeholder="Confirm Password" required>
          <!-- <div class="invalid-feedback">
            Your passwords don't match.
          </div> -->
        </div>
        <div class="btn ">
          <button id="buttonId" type="submit">SIGN UP</button>
        </div>
        </div>
    </form>
    </div>
</body>
</html>
