body{
  background-color: #f5f5f6;
  height: 100vh;
}

.nav{
  color: #ffffff;
  background-color: #000a12;
}

.btn{
  margin: 0px 0px 0px 0px;
  padding: 0px 40px 0px 40px;
  width: 100%;
}

.logo {

}



.fab {
  text-align: left;
  font-size: 3rem;
  color: #ffffff;
  padding-bottom: 10px;
  float: left;
}

#buttonId {
  width: 100%;
  border-radius: .25rem;
  outline: none;
  background-color: #263238;
  color: #f5f5f6;
  padding: 10px 20px 10px 20px;
  border: none;
}

.container{
  text-align: center;
}

#headline{
  margin: 20px 0px 0px 0px;
}

#iconDiv{
  margin: 0 auto;
  text-align: center;
}

.font{
  padding-top: 50px;
  font-size: 9ex;
}

#chooseFileDiv{
  margin: 0 auto;
  text-align: center;
  padding: 30px;
}

input[type="file"]{
  width: 20%;
}

.secondaryBtnDiv{
  width: 20%;
  margin: 0 auto;
  padding: 2.5px;
}

#uploadbtn{
  background-color: #263238;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

#nextbtn{
  background-color: #263238;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}


/* .dropzone{
  width: 600px;
  height: 300px;
  border: 2px dashed #cccccc;
  color: #cccccc;
  line-height: 300px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 100px;
}

.dropzone.dragover{
  border-color: #000000;
  color: #000000;
}

#drag-form{
  text-align: center;
  margin-top: 30px;
}

#choose-form{
text-align: center;
margin-top: 20px;
}

#choose-form input button{
  background-color: #000000;
  }

input[type=submit]{
  background-color:#263238;
  color: #f5f5f6;
  padding: 10px 20px 10px 20px;
  border-radius: .25rem;
  border: none;
  cursor: pointer;
}

input[type=file] {
  margin-right: 40px;
}


.content{
  margin-top: 40px;
}

.content h1{
  margin-left: 40px;
  color: #263238;
} */
