<div class="content">
  <h1 id="headline">Upload Training Data File (JSON)</h1>
  <div id="iconDiv">
    <i class="font far fa-file-alt"></i>
  </div>
  <div id="chooseFileDiv">
    <input #file name="TrainingData" multiple type="file" (change)="onFileSelected($event)" />
    <span style="font-weight:bold;color:green; padding: 0px;" *ngIf="progress > 0 && progress < 100">
      {{progress}}%
    </span>
  </div>
  <div class="secondaryBtnDiv">
    <button id="uploadbtn" (click)="onClick()">Train</button>
    <span style="font-weight:bold;color:green;" *ngIf="UploadMessage">
      <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate">
      </mat-progress-spinner>
    </span>
  </div>
</div>
