.content{
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  height: 100vh;
}


input::-webkit-input-placeholder {
  color: #ffffff ;
  }

.needs-validation{
  margin: 0 auto;
  padding: 40px;
  background-color: transparent;
}

.fab {
  width: 100%;
  text-align: center;
  font-size: 7rem;
  color: #ffffff;
  padding-bottom: 10px;
}


.username, .password {
  margin: 40px;
  color: #ffffff;
}

.username input{
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.password input{
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.nav{
  color: #ffffff;
  background-color:transparent;
}

.btn{
  margin: 0px 0px 0px 0px;
  padding: 0px 40px 0px 40px;
  width: 100%;
}



#buttonId {
  width: 100%;
  border-radius: .25rem;
  outline: none;
  background-color: transparent;
  color: #f5f5f6;
  padding: 10px 20px 10px 20px;
  border: 2px solid #ffffff;
}

#buttonId:hover{
  border:0px;
  background-color: #f5f5f6;
  color:#004d40 ;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.6s ease 0s;
}

#validationCustom03, #validationCustom04{
  border-bottom: 1px solid #ffffff;
  border-radius: 0px;
}

.validation-message{
  color: #F1948A;
}

#invalid{
  color:#F1948A;
  text-align: center;
}
