<div class="dx-viewport">
  <div class="demo-container">
    <dx-pie-chart id="pie" title="Overall Tickets Status" style="font-size: 20px;" palette="ocean" [dataSource]="pieChartdata">
      <dxo-legend orientation="horizontal" itemTextPosition="right" horizontalAlignment="center" verticalAlignment="bottom" [columnCount]="4"></dxo-legend>
      <dxo-export [enabled]="false"></dxo-export>
      <dxi-series argumentField="tickettype" valueField="count">
        <dxo-label [visible]="true" position="columns" [customizeText]="customizeLabel">
          <dxo-font [size]="16"></dxo-font>
          <dxo-connector [visible]="true" [width]="0.5"></dxo-connector>
        </dxo-label>
      </dxi-series>
    </dx-pie-chart>
  </div>
</div>
