<section *ngIf="notifications.length > 0; else elseBlock">
  <mat-card class="example-card" *ngFor="let notification of notifications">
    <mat-card-header>
      <mat-card-title>Ticket ID : {{notification?.ticketId}}</mat-card-title>
      <!-- <mat-card-title>Title : {{notification?.title}}</mat-card-title> -->
    </mat-card-header>
    <mat-card-content>
      <p>
        Description : {{notification?.description}}
      </p>
      <p>
        Created On: {{notification?.createdOn}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>View</button>
    </mat-card-actions>
  </mat-card>
</section>

<ng-template #elseBlock>
  <h4> No New Notifications </h4>
</ng-template>

