<!DOCTYPE html>
<html lang="en">

<head>
  <title>Resolute | Login</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-dark nav">
    <div class="container">
      <h1>Resolute</h1>
    </div>
  </nav>
  <form id="drag-form">
    <h3> Drag your Agent details CSV file and drop below</h3>
    <div class="dropzone" id="dropzone"> +
    </div>
  </form>

  <form enctype="multipart/form-data" method="post" name="fileinfo" id="choose-form">
      <input type="file" name="file" required />
      <input type="submit" value="Upload the CSV file" id="choose-submit" routerLink="/uploadusercsv"/>
    </form>
    <div></div>
  <script src="js/main.js"></script>
  </body>

